.contact-detailed-images-mobile:hover {
  color: var(--bg-color, #4589ff);
}

.contact-added {
  position: fixed;
  left: 50%;
  width: 360px;
  bottom: -1000px;
  height: 74px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px;
  border-radius: 20px;
  background: var(--version-2-main-color, #4589ff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  font-family: Open Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  transition: bottom 0.5s;
  display: none;
  transform: translateX(-50%);
  z-index: 60;
}

.show {
  bottom: 50%;
  display: flex;
  transform: translate(-50%, -50%);
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background: #4589ff;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #005dff;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-message {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1200px) {
  .modal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .modal-content {
    position: static;
  }

  #closeContactModalBtn {
    position: relative;
    top: -85px;
    right: -255px;
  }

  #contact-mobile-buttons {
    right: 30px;
    bottom: 90px;
  }

  .contact-detailed-images-head {
    right: 5px;
    bottom: 90px;
  }

  .add-person-button {
    position: fixed;
    right: 30px;
    bottom: 90px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
}

@media (max-width: 1180px) {
  .container {
    padding: 20px;
    width: 600px;
  }
}

@media (max-width: 1200px) {
  .edit-content,
  .modal-content {
    border-radius: 30px;
  }
  .edit-content-top,
  .modal-content-top {
    border-radius: 30px 30px 0 0;
  }
  .modal-content,
  .edit-content {
    height: unset;
  }
  .add-contact-buttons {
    padding-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .all-content {
    height: calc(100vh - 172px);
  }
}

@media (max-width: 890px) {
  .container {
    padding: 20px;
    width: 500px;
    margin-left: 100px;
  }
  .all-content {
    padding: 96px 0 0 0;
  }
}

@media (max-width: 768px) {
  .modal {
    height: 100%;
    overflow-y: scroll;
  }
  .modal-content {
    height: unset;
    box-sizing: border-box;
  }
  .container {
    margin-left: 0;
    width: 402px;
  }
  .edit-content,
  .modal-content {
    gap: 0;
  }

  #contact-details-mobile {
    margin-left: -30px;
  }
  .modal-input-container {
    gap: 15px;
    top: -30px;
    position: relative;
  }
  .add-contact-buttons {
    padding-bottom: 20px;
  }
  .initial-big {
    top: -45px;
    position: relative;
  }
  .modal-input-img {
    top: -30px;
  }
  .modal-logo{
    display: none;
  }
  .reverse-column {
    display: flex;
    flex-direction: column-reverse;
    gap: 21px;
  }
}

@media (max-width: 540px) {
  .edit-content-top,
  .modal-content-top  {
    width: 100%;
    padding: 50px 0;
  }

  #closeEditModalBtn {
    right: -221px;
  }

  #closeContactModalBtn {
    right: -221px;
  }
}

@media (max-width: 485px) {
  .modal-content {
    height: unset;
    box-sizing: border-box;
  }
  .edit-content-top {
    box-sizing: border-box;
    padding-top: 6px;
  }

  .modal-input-frame,
  .modal-input-field,
  .modal-input-row,
  .modal-input-dflex {
    width: 290px;
  }

  .modal-input-frame,
  .modal-input-dflex {
    box-sizing: border-box;
    padding: 0 6px;
  }

  .add-contact-buttons {
    transform: scale(0.7);
    width: max-content;
  }

  #closeEditModalBtn {
    right: -172px;
  }

  #closeContactModalBtn {
    right: -172px;
  }
}

@media (max-width: 450px) {
  .container {
    margin-left: -21px;
    width: 340px;
  }

  .container-contact-all {
    width: auto;
  }

  .contact-detailed-name {
    font-size: 36px;
  }

  .contact {
    width: 260px;
    gap: 0;
  }

  .modal-content-top {
    padding: 70px 0 55px 0;;
    gap: 2px;
  }

  #closeContactModalBtn {
    top: -70px;
  }

  #closeEditModalBtn {
    top: 0;
  }

  .modal-headline {
    font-size: 24px;
  }

  .modal-text {
    font-size: 16px;
  }

  .modal-input-img img {
    /* width: 34px;
    height: 34px; */
    position: relative;
    top: 0;
    left: 0;
    height: 120px;
    width: 120px;
  }
  .add-person-button {
    right: 5px;
  }
  .all-content {
    padding: 80px 0 0 0;
    height: calc(100vh - 156px);
  }
}

@media (max-width: 400px) {
  .edit-content,
  .modal-input-container {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .container {
    margin-left: -21px;
    width: 323px;
    padding: 4px;
  }

  .contact {
    width: 250px;
  }
}
@media (max-height: 820px) {
  .edit-content {
    height: unset;
  }

  .modal-content {
    height: calc(100vh - 20px);
}

  #closeContactModalBtn {
    top: -80px;
  }

  #closeEditModalBtn {
    top: 0;
  }

  .modal-headline {
    font-size: 24px;
  }

  .modal-text {
    font-size: 16px;
  }

  .modal-input-img img {
    /* width: 34px;
    height: 34px; */
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (min-width: 1023px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 900px) {
  .edit-content,
  .modal-content {
    gap: 12px;
  }
  .modal-input-container {
    gap: 15px;
    top: -40px;
    position: relative;
  }
  .add-contact-buttons {
    padding-bottom: 20px;
  }
  .initial-big {
    top: -45px;
    position: relative;
  }
  .edit-content-top,
  .modal-content-top {
    padding: 40px 22px;
  }
  .modal-logo {
    display: none;
  }
  .modal-input-img {
    top: -40px;
  }
  .modal-input-img img {
    height: 120px;
    width: 120px;
  }
  #closeContactModalBtn {
    top: -50px;
    right: -250px;
  }
}