<aside class="aside__policy_">
    <a class="links m-top" href="index.html">
        <span class="log-in-link_imprint">
            <img src="img/login.png" alt="Login">
            <span class="links">Log In</span>
        </span>
    </a>
    <section class="imprint__link-container visible-off">
        <a id="summary-link" class="links" href="summary.html">
            <div class="aside__link">
                <img src="img/summary.png" alt="Summary">
                Summary
            </div>
        </a>
        <a id="add_task-link" class="links" href="addTask.html">
            <div class="aside__link">
                <img src="img/edit_square.png" alt="Add Task">
                Add Task
            </div>
        </a>
        <a id="board-link" class="links" href="board.html">
            <div class="aside__link">
                <img src="img/board_sidebar.png" alt="Board">
                Board
            </div>
        </a>
        <a id="contact-link" class="links" href="contact.html">
            <div class="aside__link">
                <img src="img/contacts.png" alt="Contacts">
                Contacts
            </div>
        </a>
    </section>
    <section class="aside__imprint-container">
            <a class="privacy-button-imprint" href="privacyPolicyImprint.html">Privacy Policy</a>
            <a class="legal-button-imprint" href="legalNoticeImprint.html">Legal notice</a>
    </section>
</aside>